body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:  #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}
header h1{
    margin: 0;
}

nav a{
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}
.carrinho{
    position: relative;
    cursor: pointer;
}
.carrinho img{
    width: 30px;
    height: 30px;
}
#carrinho-contagem{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px
}
.produtos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 1rem;
    padding: 2rem;
    
}
.produto-card{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    text-align: center
}
.produto-card img{
    height: auto;
    max-height: 120px;
    object-fit: contain;
}
.produto-card h2{
    margin: o.5rem 0;
}
.produto-card p{
    margin:  0.5rem 0;
}
.produto-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.produto-card button:hover{
    background-color: #0056b3;
}
footer{
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}
