* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     display: flex;
    flex-direction: column; 
        min-height: 100vh;
    }


.principal p, h1, h2{
    margin-left: 5%;
    margin-right: 5%;
   

}

.menu-lateral {
    width: 10%;
    position: absolute;
    right: 0%;
    height: 77%;
    top: 10%;
    background-color: rgba(59, 254, 148);

}
.menu-lateral ul{

}

.conteudo {
    
}

.cabecalho {

    background-color: rgb(155, 217, 255);
    top: 0%;
    height: 10%;
    font-size: 20px;
    display: flex;
    width: 100%;
    align-items: center;
}

.cabecalho header {
    width: 100%;
    display: flex;
    align-items: center;
}

.cabecalho p {
    font-size: 20px;
    display: flex;
    width: 100%;
    margin-left: 5%;
}

.links-header {
    width: 100%;
    right: 0%;
    justify-content: flex-end;
}

.menu {
    width: 100%;
    height: 10%;

}



.menu ul {
    display: flex;
    position: absolute;
    right: 5%;
    top: 0%;
    list-style-type: none;

    gap: 10%;

}

.menu ul li {
    display: flex;
    padding-right: 7%;
}

.rodapé {
    font-size: 20px;
    height: 10%;
    background-color: rgb(254, 162, 104);
    bottom: 0%;
    margin-bottom: 3%;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}